@font-face {
  font-family: BenzGroteskHeavy;
  src: url('fonts/BenzGroteskHeavy.ttf') format('truetype');
}

.my-bg-top {
  background-image: url('./images/backgrounds/background-top.png');
  background-size: cover;
}

.bg-subtop {
  background-image: url('./images/backgrounds/background-subtop.png');
  background-size: cover;
}

.bg-third {
  background-image: url('./images/backgrounds/background-third.svg');
  background-size: cover;
}

.bg-fourth {
  background-image: url('./images/backgrounds/background-fourth.png');
  background-size: cover;
  background-color: rgba(11, 12, 11, 0.08);
}

.bg-fifth {
  background-image: url('./images/backgrounds/background-fifty.svg');
  background-size: 100%;
  background-position: 0 -353px;
  min-height: 948px;
}

.bg-sixty {
  background-image: url('./images/backgrounds/background-sixty.svg');
  background-size: 100%;
  background-position: 0 -80px;
}

.bg-seventh {
  background-image: url('./images/backgrounds/background-seventh.svg');
  background-size: 100%;
}

.bg-eighth {
  background-image: url('./images/backgrounds/background-eighth.svg');
  background-size: 130%;
  background-position: -282px -310px;
}

.img-icon {
  width: 32px;
  height: 32px;
  margin-right: 10px;
}

.my-py-80 {
  padding-top: 80px;
  padding-bottom: 80px;
}

.my-px-16 {
  padding-left: 16px;
  padding-right: 16px;
}

.my-mt-32 {
  margin-top: 32px;
}

.p-relative {
  position: relative;
}

.d-none {
  display: none !important;
}

.my-card-mob {
  height: 415px;
  position: relative;
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #4B4852;
}

.occupation {
  font-weight: 500;
  font-size: 20px;
  line-height: 38px;
  text-align: center;
  color: #4B4852;
}

.bottom {
  position: absolute;
  bottom: 24px;
  width: 100%;
  left: 0;
  font-size: 20px;
}

.click {
  font-weight: 800;
  font-size: 16px;
  line-height: 18px;
  color: #FF6F73;
  opacity: 0.9;
  cursor: pointer;
}

.meet-text {
  font-weight: 300;
  font-size: 24px;
  line-height: 34px;
  color: #4B4852;
}

.name {
  color: #000000;
}

.testimonial-label {
  font-weight: 300;
  font-size: 24px;
  line-height: 34px;
  text-align: center;
  color: #4B4852;
}

.p-relative {
  position: relative;
}

.see-more {
  width: 237px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.w-100 {
  width: 100%;
}

.mod-title {
  font-weight: 300;
  font-size: 18px;
  line-height: 19px;
  color: #000000;
  text-align: center;
  margin-bottom: 24px;
}

.h-100 {
  height: 100%;
}

@media screen and (max-width: 768px) {
  .my-bg-top {
    background-image: url('./images/backgrounds/background-top-mob.png');
    background-size: cover;
    min-height: 100vh;
  }

  .bg-subtop {
    background-size: 690%;
    background-repeat: no-repeat;
    background-position: center;
  }

  .bg-third {
    background-image: url('./images/backgrounds/bg-third-mob.svg');
    background-position: 0 -80px;
  }

  .img-mob {
    width: calc(100% - 85px);
  }

  .bg-fourth {
    background-image: url('./images/backgrounds/background-fourth-mob.svg');
    background-size: 100%;
    background-position: 0px -185px;
  }

  .bg-fifth {
    background-image: url('./images/backgrounds/background-fifth-mob.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    min-height: auto;
    background-position: 0;
  }

  .bg-seventh {
    background-image: url('./images/backgrounds/background-seventh-mob.svg');
  }

  .bg-eighth {
    background-image: none;
  }

  .my-bg-top .aux {
    padding-bottom: 5rem;
  }

  .test-top {
    position: absolute;
    top: 0;
    right: 0;
  }

  .scroll-mob {
    overflow-x: auto;
    display: flex;
    padding: 0 16px;
  }

  .my-py-80-mob {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .my-card-mob {
    width: calc(100vw - 62px);
    height: 330px;
    margin-right: 10px;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #4B4852;
  }

  .meet-text {
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #4B4852;
  }

  .name {
    font-size: 24px;
  }

  .testimonial-label {
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
  }

  .bottom p.occupation {
    font-size: 13px !important;
    line-height: 140%;
  }

  .top-eighth {
    position: absolute;
    top: -17px;
    right: 0;
    width: 53px;
  }

  .img-logo-footer {
    width: 155px;
  }
}

@media screen and (min-width: 769px) {
  .d-md-none {
    display: none !important;
  }

  .d-md-block {
    display: block !important;
  }

  .d-md-flex {
    display: flex !important;
  }
}

@media screen and (max-width: 1600px) {
  .bottom p.occupation {
    font-size: 18px;
  }

  .bg-fifth {
    background-size: 145%;
  }

  .bg-sixty {
    background-size: 113%;
  }

  .bg-third {
    background-size: 138%;
  }

  .bg-seventh {
    background-size: 138%;
  }
}
