@font-face {
  font-family: BenzGroteskHeavy;
  src: url('fonts/BenzGroteskHeavy.ttf') format('truetype');
}

.my-bg-top {
  background-image: url('./images/backgrounds/background-top.png');
  background-size: cover;
}

.green {
  color: #75d8ab;
}

.bg-subtop {
  background-image: url('./images/backgrounds/background-subtop.png');
  background-size: cover;
}

.bg-third {
  background-image: url('./images/backgrounds/background-third.svg');
  background-size: cover;
}

.bg-fourth {
  background-image: url('./images/backgrounds/background-fourth.png');
  background-size: cover;
  background-color: rgba(11, 12, 11, 0.08);
}

.bg-fifth {
  background-image: url('./images/backgrounds/background-fifty.svg');
  background-size: 100%;
  background-position: 0 -353px;
  min-height: 948px;
}

.bg-sixty {
  background-image: url('./images/backgrounds/background-sixty.svg');
  background-size: 100%;
  background-position: 0 -80px;
}

.bg-seventh {
  background-image: url('./images/backgrounds/background-seventh.svg');
  background-size: 100%;
  padding-bottom: 7rem;
}

.bg-eighth {
  background-image: url('./images/backgrounds/background-eighth.svg');
  background-size: 130%;
  background-position: -282px -310px;
}

.img-icon {
  width: 32px;
  height: 32px;
  margin-right: 10px;
}

.d-none {
  display: none;
}

@media screen and (max-width: 768px) {
  .my-bg-top {
    background-image: url('./images/backgrounds/background-top-mob.png');
    background-size: cover;
    min-height: 85vh;
  }

  .bg-subtop {
    background-size: 600%;
    background-repeat: no-repeat;
    background-position: center;
  }

  .bg-third {
    background-image: url('./images/backgrounds/bg-third-mob.svg');
    background-position: 0 -80px;
  }

  .description-meet {
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #4b4852;
    margin-bottom: 31px;
  }

  .img-mob {
    width: calc(100% - 85px);
  }

  .bg-fourth {
    background-image: url('./images/backgrounds/background-fourth-mob.svg');
    background-size: 100%;
    background-position: 0px -185px;
  }
}
